input {
    margin-left: 12.5%;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

input::-webkit-slider-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.align-peace {
    margin-left: 12.5%;
}

.align-crisis {
    float: right;
    margin-right: 12.5%;
}